@model IEnumerable<Dragon.Models.Supplier>
@{
    ViewBag.Title = "ShowByCategory";
}
@{ var cat = ViewBag.CategoryName;}
<h2>@cat.CategoryName</h2>
<p>@cat.CategoryDescription</p>


<div>
    @using (Html.BeginForm())
    {
        <div class="form-inline">
        <div class="form-group">
            @Html.TextBox("supplierName", "", new { @class = "form-control", placeholder = "Type the name you want to find" })
        </div>
        <div class="form-group">
            @Html.DropDownList("cityFilter",
                               new SelectList(ViewBag.Cities),
                               "City",
                               new { @class = "form-control" }
                               )
        </div>
            
        <div class="form-group">
            @Html.DropDownList("orderByName",
                               new SelectList(ViewBag.Alphabet, "Meaning","Name"),
                               "Select order",
                               new { @class = "form-control" }
                               )
        </div>


        <button type="submit" class="btn btn-default">Search</button>

    </div>

    }
</div>


<p>
    @Html.ActionLink("Create New", "Create")
</p>



<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-md-3 col-lg-offset-1" style="margin-bottom:15px">
            <div class="card" style="width: 18rem;">



                <img class="card-img-top" src="@Url.Action("ShowBackgroundImage", new { id = item.SupplierID })" alt="Card image cap"
                     style="object-fit: scale-down; /* Do not scale the image */ object-position: center; /* Center the image within the element */ height: 300px; width: 300px;" />


                <div class="card-body">
                    <h3 class="card-title">@item.Name</h3>

                    

                    <h3>@Html.Action("ShowAverageRate", new { id = item.SupplierID }) &starf;</h3>
                    @{
                        if (item.Description.Length > 100)
                        {
                            <p class="card-text" style="height:80px">@item.Description.Remove(100)</p>
                        }
                        else
                        { <p class="card-text" style="min-height:80px">@item.Description</p>
                    }

                    }




                    <button class="btn btn-info">
                        @Html.ActionLink("See more", "Details", new
                        {
                            id = item.SupplierID
})
                    </button>
                </div>
            </div>
        </div>
    }
</div>
